<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://m.media-amazon.com/images/S/pv-target-images/71f3ec98d6cb5cfcbafc67effdd0be5b9291450f929acf2016329bd88d264dc0.jpg"
      alt="placeholder image"
      srcset=""
    >
  </div>
  <div class="big-card__title">
    <h1><a href="#">Nova temporada de Bones</a></h1>
  </div>
  <div class="big-card__description">
    <p><a>
      Nova temporada de Bones, Nova temporada de Bones, Nova temporada de Bones
      Nova temporada de Bones, Nova temporada de Bones, Nova temporada de Bones
    </a>
    </p>
  </div>
</div>
